<!-- <div class="container-fluid header">
  <div class="row headrow">
    <div class="col-md-12">
      <div>
        <img class="logo" src="../images/s-logo-croped.png" alt="" />
      </div>
    </div>
    <div class="col-md-2">
      <a ui-sref="home" ng-click="vm.isActive()" ng-class="{'activePage': vm.active === 'about'}"><h3>About</h3></a>
    </div>
    <div class="col-md-2">
      <a ui-sref="projects" ng-click="vm.isActive()" ng-class="{'activePage': vm.active === 'projects'}"><h3>Projects</h3></a>
    </div>
    <div class="col-md-2">
      <a ui-sref="contact" ng-click="vm.isActive()" ng-class="{'activePage': vm.active === 'contact'}"><h3>Contact</h3></a>
    </div>
  </div>
</div> -->
 <div class="row-fluid">
  <div class="col-lg-6 headerColumn">
    <div class="item">
      <div class="content">
        <div>
          <img class="logo" src="../images/s-logo-croped.png" alt="" />
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="item">
      <div class="content">
        <div>
          <a ui-sref="home" ng-click="vm.isActive()" ng-class="{'activePage': vm.active === 'about'}"><h3>About</h3></a>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="item">
      <div class="content">
        <div>
          <a ui-sref="projects" ng-click="vm.isActive()" ng-class="{'activePage': vm.active === 'projects'}"><h3>Projects</h3></a>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="item">
      <div class="content">
        <div>
          <a ui-sref="contact" ng-click="vm.isActive()" ng-class="{'activePage': vm.active === 'contact'}"><h3>Contact</h3></a>
        </div>

      </div>
    </div>
  </div>
</div>
